.main{
  margin-top: 80px;
  font-family: Arial;
}

.page-title{
  margin-bottom: 20px;
  font-family: Arial;
  font-size: 28px;
}

.checkout-grid{
  width: 100%;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}

.order-preview{
  font-family: Arial;
  font-size: 28px;
}

.order-preview .order-item{
  display: grid;
  grid-template-columns: 100px 1fr auto;
  padding: 24px;
  margin: 12px 0;
  border: 1px solid #505050;
  border-radius: 4px;
}

.order-details{
  display: grid;
  grid-row-gap: 8px;
  padding-left: 20px;
  height: fit-content;
}

.order-details .order-name{
  font-size: 26px;
  font-weight: bold;
}

.order-details .order-price{
  font-size: 24px;
  color: #954019;
  font-weight: bold;
}

.order-details .order-quantity{
  font-size: 24px;
}

.order-quantity .delete-quantity, .order-quantity .update-quantity{
  color: rgb(0, 98, 255);
  margin-left: 8px;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
}

.order-quantity .delete-quantity:hover , .order-quantity .update-quantity:hover {
  color: rgb(255, 123, 0);
}

.order-quantity .delete-quantity:active , .order-quantity .update-quantity:active {
  color: rgb(107, 52, 1);
}

.order-image img{
  object-fit: contain;
  width: 100%;
  aspect-ratio: 1/1;
}

.order-delivery{
  height: fit-content;
  padding-left: 32px;
}

.order-delivery-title{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
}

.order-delivery-option {
  display: grid;
  grid-template-columns: 32px 1fr;
  gap: 12px;
  margin-bottom: 12px;
}

.order-date{
  font-weight: bold;
  color: #029b12;
  font-size: 24px;
}

.date-choice-button{
  cursor: pointer;
}

.order-shipping-charge{
  color: #505050;
  font-size: 18px;
  opacity: 0.8;
  font-weight: 500;
}

.payment-preview{
  height: fit-content;
  font-family: Arial;
  font-size: 28px;
  margin: 12px;
  padding: 12px;
  border: 1px solid black;
  border-radius: 4px;
}

.payment-preview .payment-preview-title{
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 16px;
}

.payment-preview .item-price, .payment-preview .total-before-tax, .payment-preview .shipping-price, .payment-preview .estimated-tax{
  font-size: 20px;
  color: #505050;
  
}

.preveiw-element{
  display: flex;
  font-size: 20px;
  color: #505050;
  justify-content: space-between;
  margin-bottom: 16px;
}

.payment-preview .order-total{
  color: #954019;
  font-weight: bold;
  font-size: 24px;
}
