  .content {
    padding: 10px;
    display: block;
    margin-top: 94px;
    padding-bottom: 2000px;
    margin-left: 150px;
  }
  .content img {
    max-width: 100%;
    height: auto;
    display: block;
  }