    .sidebar{
      position: fixed;
      left: 0;
      top: 70px;
      bottom: 0;
      width: 80px;
      z-index: 100;
      padding-top: 30px;
    }
    .sidebar-box{
      height:76px;
      display: flex;
      justify-content: center;
    }
    .sidebar-box img{
      height: 25px;
    }
  