* {
  box-sizing: border-box;
}

button {
  font-size: 24px;
  font-weight: bold;
  outline: none;
  border-radius: 8px;
  box-shadow: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-focus-ring-color: transparent;
  transition: all 0.1s ease;
}

button:hover{
  transform: scale(1.05);
}

button:active{
  transform: scale(0.95);
}

body {
  margin: 0;
  padding: 20px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}