  @media (max-width: 700px){
    body{
      padding: 5px 5px;
    }
    .header-back{
      height: 60px;
    }
    .sidebar{
      left: -120%;
      top: 60px;
      padding: 20px 10px;
      gap: 16px;
      margin-top:15px;
      padding-left: 5px;
    }
    .menu-icon{
      display: flex;
      margin-left: 14px;
    }
    .middle-section{
      display: none;
    }
    .left-section{
      gap: 20px;
    }
    .right-section .quick-access{
      display: none;
    }
    .left-section img, .left-section div {
      height:30px;
      font-size: 26px;
    }
    .left-section{
      align-items: center;
    }
    .right-section{
      justify-content: right;
    }
    .small-search{
      display: flex;
    }
    .header{
      height: 60px;
      top: 5px;
      left: 5px;
      right: 5px;
    }
    .sidebar-box img{
      height: 20px;
    }
    .sidebar-box div{
      font-size: 10px;
    }
    .sidebar-box{
      padding: 10px 0;
      margin-right: 10px;
    }
    .content{
      margin: 0;
      margin-top:64px;
    }
  }