  .footer{
    display: flex;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    gap: 1px;
    padding: 0 10px;
    flex: 1;
  }
  .footer-box img{
    height: 28px;
  }
  .footer-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    position: relative;
  }
  .footer-box .text{
    position: absolute;
    bottom: -8px;
    font-weight: 600;
  }
  .footer-outline{
    
    position: fixed;
    height: 54px;
    z-index: 102;
    display: flex;
    background-color: white;
    bottom:0;
    left: 0;
    right: 0;
    border-top: 1px solid lightgray;
    box-shadow: 0px -1px 5px rgba(0,0,0,0.25);
    padding-bottom: 10px;
  }