body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  background-color: black;
  color: white;
}
p{
  font-size: 20px;
  font-weight: 600;
}
button {
  outline: none;
  box-shadow: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-focus-ring-color: transparent;
}
button:active{
  transform:scale(0.95);
}